REACT_APP_PINATA_API_KEY=your_pinata_api_key_here
REACT_APP_PINATA_SECRET_KEY=your_pinata_secret_key_here
REACT_APP_PINATA_JWT=your_pinata_jwt_here
REACT_APP_CONTRACT_ADDRESS=
REACT_APP_CHAIN_ID=11155111
